body {
    background: url('../images/back.jpg') no-repeat center center scroll;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 50px;
}
.wrap {
    flex: 1;
    display: flex;
    align-items: center;
}
h1 {
    font-weight: lighter;
    font-size: medium;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 25px;
}
section {
    padding: 40px 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
    animation-duration: 1s;
    animation-name: fadeIn;
    background-color: white;
}
.oneSection {
    flex-grow: 1;
    align-self: auto;
}
#hobbies {
    margin-bottom: 100px;
}
#profile {
    margin-top: 100px;
}
.section-heading {
    padding-top: 50px;
    border-bottom: 1px solid #eee;
    font-size: 4em;
}
footer {
    border-top: 1px solid #080808;
    background-color: #111;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 100%;
    position: static;
    bottom: 0;
}
#listSkills {
    margin-left: 15px;
}
@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .section-heading {
        font-size: 2em;
    }
}
#git {
    margin-top: -10px;
}
navbar-header {
    color: white;
}
progress {
    position: fixed;
    left: 0;
    top: 51px;
    width: 100%;
    height: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-image: none;
    background-color: transparent;
    color: blue;
    z-index:1000;
}
progress::-webkit-progress-bar {
    background-image: none;
    background-color: transparent;
}
.flat::-webkit-progress-value {
    background-image: none;
    background-color: blue;
    background: #337ab7;
}
.flat::-moz-progress-bar {
    background-image: none;
    background-color: blue;
    background: #337ab7;
}
.progress-container {
    width: 100%;
    background-image: none;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0;
    height: .25em;
    display: block;
        z-index:1000;
}
.progress-bar {
    background-image: none;
    background-color: #337ab7;
    width: 50%;
    display: block;
    height: inherit;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}
@keyframes fadeAndMove {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(100px);
    }
}